
$font-family: 'Nunito Sans', sans-serif;

$bg-primary:  hsl(0, 0%, 98%);
$ligth-elemtens: hsl(0, 0%, 100%);
$ligth-text: hsl(200, 15%, 8%);
$ligth-input: hsl(0, 0%, 52%);


$bg-secondary:  hsl(207, 26%, 17%);
$text-secondary: hsl(200, 15%, 8%);
$dark-elemtens: hsl(209, 23%, 22%);
$dark-text: hsl(0, 0%, 100%);